/*Base*/
.art__desc {
  font-family: var(--libreFr);
  color: #4f4e4e;
  font-weight: 100;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.art__desc-dest {
  padding: 0.5rem 1rem 0px 1rem;
}

/*Seção 1*/
.main__artigos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 1rem 5% 0px 5%;
  font-family: "Candara", sans-serif;
  height: 98vh;
}

.main__art-destaque-txt {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  height: 33vh;
}

.main__artigos-destaque img {
  width: 100%;
  height: 45%;
  transition: 0.2s;
  margin: 0 auto;
}

.main__artigos-destaque h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--cinza-escuro);
  padding: 1rem 0.5rem 0px 1rem;
}

.artigos__data {
  font-size: 0.875rem;
  color: var(--cinza);
  padding-left: 1rem;
}

.art__cont {
  display: grid;
  grid-template-columns: 1fr auto;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
}

.art__cont-txt {
  padding: 0.5rem 1rem 1rem 1rem;
}

.art__img {
  width: 200px;
}

.art__img img {
  height: 100%;
}

.art__cont-categoria {
  font-family: "Candara", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
  text-align: right;
  color: var(--vinho-base);
}

.art__cont-tit {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  font-family: "Candara", Arial, Helvetica, sans-serif;
}

.art__cont-desc {
  font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #5c5959;
  font-weight: 100;
  margin-bottom: 1rem;
}

.main__aside h2 {
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
  font-weight: bold;
  font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: var(--cinza-escuro);
}

.art-sec2 {
  background-color: var(--cinza-escuro);
  padding: 2rem 7.5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  height: 250px;
}

.art-sec2 img {
  width: 50px;
  margin: 0 auto;
}

.art-sec2-titulo {
  font-family: "Candara";
  font-weight: 700;
  font-size: 2rem;
  color: var(--bege-base);
  margin: 0.5rem 0px;
}

.art-sec2-item {
  text-align: center;
  color: #949494;
}

/*Seção 3*/

.art__sec3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0rem 5% 0px 5%;
  gap: 1.5rem;
}

.art__sec3-item {
  background: #f2e9e1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  position: relative;
  bottom: -2rem;
  z-index: 3;
}

/*Botões*/

.btn__art {
  background-color: var(--vinho-base);
  color: var(--bege-base);
  text-transform: uppercase;
  transition: 0.2s;
}

.btn__art:hover {
  background-color: var(--cinza-escuro);
  color: var(--bege-base);
}

.btn__art-padrao {
  padding: 8px 40px 8px 40px;
  margin-left: 1rem;
  font-weight: bold;
}

.btn__art-normal {
  padding: 0.25rem 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.btn__art-secpreto {
  position: relative;
  top: 1rem;
  transition: 0.2s;
}

.btn__art-secpreto:hover {
  background-color: var(--bege-base);
  color: var(--vinho-base);
  position: relative;
  top: 1rem;
}

.btn__art-sec3 {
  padding: 0.25rem 1rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
