.main__artigo {
  display: grid;
  grid-template-columns: 75% auto;
  position: relative;
  top: 50px;
}

.cartao__autor {
  background-color: var(--cartao-perfil);
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr 1fr;
  height: 8.5vh;
  margin: 1.5rem 7.5%;
  padding: 0.5rem;
  width: 23vw;
}

.cartao__autor img {
  max-width: 50px;
  border-radius: 50%;
}

.autor {
  padding: 0.5rem 0.7rem;
  font-size: 0.8rem;
}

.cartao__dados {
  color: var(--cinza);
  display: flex;
  font-size: 0.8rem;
  grid-column: 2;
  grid-row: 2;
  padding: 0rem 0.7rem;
}

.cartao__dados span {
  background-color: var(--cinza);
  border-radius: 10px;
  display: inline-flex;
  height: 4px;
  margin: 0.3rem 0.4rem;
  width: 4px;
}

.cartao__ouca {
  color: #1a8917;
  display: flex;
}

.cartao__ouca p {
  padding: 0px 0.4rem;
}

.cartao__ouca img {
  margin-left: 0.1rem;
}

.artigo h1 {
  color: var(--cinza-escuro);
  font-family: "Bodar";
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.artigo__titulo p {
  color: var(--cinza);
  font-size: 1.5rem;
  font-style: italic;
}

.base {
  color: var(--texto-cor);
  font-family: "Segoe UI", sans-serif;
  font-size: 1.1rem;
  line-height: 1.75rem;
  margin: 2rem 0px;
  padding-left: 7.5%;
}

.base h2 {
  color: var(--vinho-base);
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 2rem;
}

.base img {
  max-width: 30%;
}

.artigo__texto {
  padding-right: 1rem;
}

.marcatexto {
  background-color: #b8161670;
}

.span__a {
  color: #b81616;
  font-weight: bold;
}

.span__a:hover {
  text-decoration: underline;
}

.artigo__citacao1 {
  background-color: var(--cinza-escuro);
  color: var(--bege-base);
  display: flex;
  flex-direction: column;
  height: 8rem;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.artigo__citacao1-txt {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0px 10%;
  font-size: 1.25rem;
}

.artigo__citacao1-autor {
  font-family: "Dancing Script";
  font-size: 1.5rem;
  margin-top: 1rem;
}

.quote {
  font-family: "Arial", serif;
  font-size: 2rem;
}

.artigo__imagem-legenda {
  align-items: center;
  color: var(--cinza);
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  margin-top: 1rem;
}

.artigo__imagem-legenda img {
  max-width: 70%;
}

.artigo__imagem-legenda a {
  font-weight: 600;
}

.artigo__imagem-legenda a:hover {
  color: rgb(108, 108, 198);
  text-decoration: underline;
}

.citacao2 {
  display: flex;
  font-size: 2rem;
  left: 10%;
  position: relative;
  width: 85%;
}

.citacao2__detalhe {
  background-color: var(--vinho-base);
  display: inline-flex;
  height: 110%;
  left: -2rem;
  position: absolute;
  width: 0.8rem;
}

.news {
  background-color: var(--bege-forte);
  border-radius: 5px;
  border-top: 0.5rem solid var(--vinho-base);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.15);
  font-size: 1.125rem;
  margin: 0px 0px 1rem 20%;
  padding: 1rem;
  text-align: center;
  width: 65%;
}

.news span {
  font-weight: bold;
}

#newsletter__email {
  color: #a7af75;
  background-color: #596800;
  border: none;
  border-radius: 5px;
  height: 30px;
  padding-left: 10px;
  padding-top: 4px;
  width: 220px;
}

#newsletter__email {
  color: var(--cinza-escuro);
  height: 2rem;
  background-color: #f5efe8;
  border: none;
  border-radius: 5px;
  margin-top: 0.7rem;
  padding-left: 10px;
  padding-top: 4px;
  width: 250px;
}

#newsletter__email:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

#newsletter__email::placeholder {
  color: var(--cinza);
  font-size: 1rem;
  font-family: "candara";
}

.btnMUDAR:hover {
  cursor: pointer;
}

.btnMUDAR {
  background-color: var(--vinho-base);
  border: none;
  border: 5px solid #f5efe8;
  border-radius: 10px;
  border-top: 6px solid #f5efe8;
  color: #f5efe8;
  font-family: "candara";
  font-weight: bold;
  padding: 5px 10px;
  margin-left: -1.3rem;
}

.share {
  display: flex;
  margin: 0px 0px 1rem 7.5%;
  font-weight: bold;
  font-size: 1.125rem;
  gap: 1rem;
}
