@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /*Cores*/
  --vinho-base: #6c3030;
  --vinho-claro: #8b4d4d;
  --vinho-clarissimo: #c38888;
  --bege-base: #f2e9e1;
  --bege-medio: #dfcdbd;
  --bege-forte: #efe2d7;
  --cartao-perfil: #f8f5ec;
  --cinza: #7b7c7d;
  --cinza-escuro: #1d1e1f;
  --texto-cor: #121313;
  --candara: "Candara", sans-serif;
  --libreFr: "Libre Franklin", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--bege-base);
  font-family: var(--candara);
}

button {
  text-transform: uppercase;
}

img {
  max-width: 100%;
  display: block;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
p::selection {
  background-color: #7d4747;
  color: #fff;
}

@font-face {
  font-family: "Bodar";
  src: url("./../bodar.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.borda {
  border-radius: 4px;
}

.comeback {
  position: fixed;
  left: 93vw;
  top: 89vh;
  padding: 0.8rem;
  border-radius: 50%;
  transition: 0.3s;
}

.comeback:hover {
  background-color: var(--cinza);
  background-image: url("./../icons/Caminho\ 297.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}

.comeback img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.btn {
  text-transform: uppercase;
}
