footer {
  background-color: var(--vinho-base);
  height: 110px;
  padding: 1rem 7.5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

footer p {
  text-align: center;
}

.footer__infos {
  color: var(--vinho-claro);
  font-size: 0.8rem;
}

.footer__titulo {
  color: var(--bege-base);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.footer__infos p:hover {
  color: var(--bege-medio);
}

.footer__info {
  color: var(--vinho-claro);
}

.footer__sociais {
  padding: 0px 4.5rem;
}

.footer__sociais ul {
  display: flex;
  justify-content: space-evenly;
}

.footer__sociais img {
  max-width: 80%;
}

.footer__copy {
  color: var(--bege-base);
  text-align: center;
  grid-column: 2;
  position: relative;
  top: 1rem;
  border-top: 1px solid var(--bege-base);
  padding-top: 0.5rem;
}
