header {
  background-color: var(--vinho-base);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.logo {
  margin-left: 6%;
}

.logo img {
  height: 50px;
  max-width: 80%;
}

.cabecalho__nav {
  margin-right: 5vw;
  font-family: "Candara", sans-serif;
  color: var(--bege-base);
  font-size: 1.25rem;
}

.cabecalho__nav-item {
  margin-left: 1rem;
  padding: 0.5rem;
}

.cabecalho__nav-item:hover {
  background-color: var(--bege-base);
  color: var(--vinho-base);
  transition: 0.2s;
  border-radius: 4px;
}

#busca {
  border-radius: 10px;
  border: none;
  background-color: var(--bege-base);
  height: 25px;
  padding-left: 0.5rem;
  width: 200px;
}

#busca:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

#busca::placeholder {
  color: var(--cinza-escuro);
}

.cabecalho__artigo {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
  gap: 0.5rem;
  align-items: center;
  margin-right: 7.5%;
}

.cabecalho__artigo p {
  font-size: 1.25rem;
  color: var(--bege-base);
  font-weight: 100;
}

.cabecalho__artigo img {
  max-width: 30px;
}
