header {
  background-color: var(--vinho-base);
  height: 50px;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.header__fixed {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.logo img {
  height: 45px;
  max-width: 80%;
  margin-left: 50px;
}

#cabecalho__nav {
  color: var(--bege-base);
  margin-right: 50px;
}

.cabecalho__nav-item {
  margin-left: 1rem;
  padding: 0.5rem;
}

.cabecalho__nav-item:hover {
  background-color: var(--bege-base);
  color: var(--vinho-base);
  transition: 0.3s;
  border-radius: 4px;
}

.cabecalho__artigo {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
  gap: 0.5rem;
  align-items: center;
  margin-right: 7.5%;
}

.cabecalho__artigo p {
  font-size: 1.25rem;
  color: var(--bege-base);
  font-weight: 100;
}

.cabecalho__artigo img {
  max-width: 30px;
}
#btn__mobile {
  display: none;
}

.cabecalho__menu {
  display: flex;
}

/*Seção de busca*/

#busca {
  border-radius: 10px;
  border: none;
  background-color: var(--bege-base);
  height: 25px;
  padding-left: 0.5rem;
  width: 200px;
}

#busca:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

#busca::placeholder {
  color: var(--cinza-escuro);
  font-family: "Candara";
}
