@font-face {
  font-family: icomoon;
  src: url("fonts/icomoon.eot?n2iyq0");
  src: url("fonts/icomoon.eot?n2iyq0#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?n2iyq0") format("truetype"),
    url("fonts/icomoon.woff?n2iyq0") format("woff"),
    url("fonts/icomoon.svg?n2iyq0#icomoon") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
[class*=" icon-"],
[class^="icon-"] {
  font-family: icomoon !important;
  speak: never;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-soundcloud:before {
  content: "\eac3";
}
